* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.224);
}

h1 {
  font-size: 3rem;
  color: black;
  margin-bottom: 25px;
}

.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#result {
  height: 13vmin;
  width: 55vmin;
  color: white;
  background-color: #1c1c1c;
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 2.5rem;
  padding-left: 10px;
  outline: none;
}

.btns {
  background-color: grey;
  padding: 10px;
  height: 90vmin;
  width: 61vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  border-radius: 20px;
}

.btns :active {
  background-color: red;
  font-size: 2.2rem;
  font-weight: 900;
}

#reset {
  height: 13vmin;
  width: 13vmin;
  border: transparent;
  border-radius: 10px;
  font-size: 1.8rem;
  filter: drop-shadow(0px 0px 3px rgba(128, 128, 128, 0.454));
  background-color: #1c1c1c;
  outline: none;
  font-weight: 700;
  color: white;
}

#reset:hover {
  background-color: rgb(84, 84, 255);
  font-size: 2rem;
  font-weight: 900;
}

#delete {
  height: 13vmin;
  width: 13vmin;
  border: transparent;
  border-radius: 10px;
  font-size: 1.8rem;
  filter: drop-shadow(0px 0px 3px rgba(128, 128, 128, 0.454));
  background-color: #1c1c1c;
  outline: none;
  font-weight: 700;
  color: white;
}

#delete:hover {
  background-color: rgb(84, 84, 255);
  font-size: 2rem;
  font-weight: 900;
}

.box {
  height: 13vmin;
  width: 13vmin;
  border: transparent;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 700;
  filter: drop-shadow(0px 0px 3px rgba(128, 128, 128, 0.454));
  background-color: #1c1c1c;
  outline: none;
  color: white;
}

.equal {
  width: 26vmin;
  background-color: #ff9500;
  color: white;
  filter: drop-shadow(0px 0px 3px #ff9500);
  font-size: 2.5rem;
  font-weight: 900;
  outline: none;
}
